body {
    background-image: url("./img/javascript.png");
    background-position: auto;
    background-repeat: no-repeat;
   
  }
h1{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
}
h2{
  
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
}
.center{
  font-size: 30px;
  position: left 50%;
}
.botao{
  border: solid 2px rgb(132, 219, 211);
  border-radius: 30px;
  font-size: 20px;
  padding: 10px;
  width: 100px;
  color: rgb(74, 143, 153);
  background-color: rgba(244, 237, 242, 0.977);
  transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}
.botao:hover{
  background-color: rgb(131, 164, 182);
  color: white;
  transform: scale(1.2)
}

